@page "/fetchdata"
@using MarinePizza.Shared
@using MarinePizza.Models
@inject HttpClient Http

<PageTitle>Marine Pizza</PageTitle>

<h1>Marine Pizza</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pizzas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>IsGlutenFree</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizzas)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@pizza.IsGlutenFree</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Pizza[]? pizzas;

    protected override async Task OnInitializedAsync()
    {
        pizzas = await Http.GetFromJsonAsync<Pizza[]>("Pizza");
    }
}

